
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/chamber">
            <span data-feather="home"></span>
            All BG <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chamber/BG?index=SAS" >
            <span data-feather="file" ></span>
            SAS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chamber/BG?index=AIS">
            <span data-feather="shopping-cart"></span>
            AIS
          </a>
        </li>
        <li class="nav-item">
          <!--<a href="javascript: return false;" onclick="handler()">-->
          <!--a href="#" # 是当前页-->
          <a class="nav-link" href="/chamber/BG?index=CH">
            <span data-feather="users"></span>
            Connecting Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chamber/BG?index=NW">
            <span data-feather="bar-chart-2"></span>
            Networking
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chamber/BG?index=ATD">
            <span data-feather="layers"></span>
            ATD
          </a>
        </li>
      </ul>
    </div>
  </nav>
